body {
  background-color: #1f1f1f;
  color: #e0e0e0;
}

.text-green {
  color: #4caf50 !important;
}

a.nav-link {
  color: #e0e0e0;
}

a.nav-link.active {
  color: #4caf50 !important;
  font-weight: bold;
}
